#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "comic sans MS";
}

h2 {
  color: pink;
  text-decoration: underline;
}

.App {
  gap: 20px;
  text-align: center;
}

.puppy-list {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: sticky;
  font-family: "comic sans MS";
}

.feat {
  border: solid rgb(235, 50, 183) 1px;
  border-radius: 10%;
  padding: 20px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 20px;
  align-self: center;
  margin-left: 20px;
  width: 300px;
  font-family: "comic sans MS";
}
